/* PÁGINA "PRODUCTOS" */
/* ------------------------------------------------------------------------------- */

.catalogo h2 {
  margin-top: 150px;
}

#facial,
#corporal,
#capilar,
#kits,
#accesorios {
  scroll-margin-top: 80px;
}

.filtros {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 50px;
}